body {
    background-color: ghostwhite;
}
.Welcome {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.SignIn,
.Registration {
    display: flex;
    flex-direction: column;
}
.App {
}
.userList{
    height: 60px
}

.ProfilePic img{
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.userList img {
    object-fit: cover;
    width: 60px;
    height: inherit;
}
.OtherProfile {
    width: 300px;
    height: 300px;
}
.OtherProfile img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.Profile .ProfilePic {
    width: 300px;
    height: 300px;
}
.ProfilePic {
    width: 60px;
    height: 60px;
}
.BioEditorEditMode {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.userList {
    display: flex;
    justify-content: space-around;
}
