body {
    background-color: ghostwhite;
}
.Welcome {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.SignIn,
.Registration {
    display: flex;
    flex-direction: column;
}
.App{
}
.ProfilePic{
    width: 60px;
    height:60px;
}
.ProfilePic img{
    object-fit: cover;
    width: inherit;
    height: inherit;}
.OtherProfile{
    width: 500px;
    height:500px;
}
.OtherProfile img{
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.Profile .ProfilePic{
    width: 500px;
    height: 500px;
}
.BioEditorEditMode{
    display: flex;
    flex-direction: column;
    width: 50%;
}